:root{
    --blue: #0066cc;
    --dark: #252729;
    --light: #E3E3E3;
    font-family: 'Noto Sans', sans-serif !important;
}
html{		
	scroll-behavior: smooth;
}

body{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 67, 127);
    align-items: center;
    height: 10vh;
    padding: 0 20px;
}

.logo{
    text-transform: capitalize;
    color: white;
    border: 4px var(--blue) solid;
    border-radius: 10px;
    padding: 5px;
    font-size: 2.4rem;
    font-weight: bolder;
}

.header{
    height: 90vh;
    background-image: url("img/montagne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-symbols-outlined{
	font-size: 80px !important;
	color: var(--blue)!important;
	transition: 1.5s;
}
.material-symbols-outlined:hover{
	transform: scale(1.2);
	transform: translateY(20%);
}
#ancrepanneaux{
	scroll-behavior: smooth;
}

.phraseHeader{
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bolder;
    background-color: rgba(15, 67, 127, 0.6);
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
}



.buttonnavbar
{
	position: relative;
	background: var(--light);
	color: var(--blue);
    border: 2px solid var(--blue);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: bold;
	padding: 10px 30px;
    margin-left: 15px;
	transition: 0.5s;
}
.buttonnavbar:hover 
{
	background: var(--light);
	color: var(--blue);
	box-shadow: 0 0 35px var(--light);
    border: 2px solid var(--blue);
    cursor: pointer;
}
.buttonnavbar:before 
{
	content: '';
	inset: 2px;
}
.buttonnavbar span 
{
	position: relative;
	z-index: 1;
}
.buttonnavbar i 
{
	position: absolute;
	inset: 0;
	display: block;
}
.buttonnavbar i::before 
{
	content: '';
	position: absolute;
	top: -6px;
	left: 80%;
	width: 15px;
	height: 10px;
	background: var(--light);
	transform: translateX(-50%);
	border: 2px solid var(--blue);
	transition: 0.5s;
}
.buttonnavbar:hover i::before 
{
	width: 20px;
	left: 20%;
    background: var(--light);
	border: 2px solid var(--blue);
}
.buttonnavbar i::after 
{
	content: '';
	position: absolute;
	bottom: -6px;
	left: 20%;
	width: 15px;
	height: 10px;
	background: var(--light);
	transform: translateX(-50%);
	border: 2px solid var(--blue);
	transition: 0.5s;
}
.buttonnavbar:hover i::after 
{
	width: 20px;
	left: 80%;
    background: var(--light);
	border: 2px solid var(--blue);
}


.panneaux{
    display: flex;
    width: 100%;
    height: 100vh;
}

.panneau{
    height: 100%;
    width: 100%;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 2s flex ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.panneau:hover{
    flex: 5;
}
.panneau:hover > .badge{
    transform: translateY(0%);
    opacity: 100%;
}
.panneau:hover > .lien{
    transform: translateY(0%);
    opacity: 100%;
}

.badge{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px solid white;
    transform: translateY(-100%);
    transition : 1s;
    opacity: 0%;
}
.badgePanneaux{
	background-image: url("img/badgePanneaux.PNG");
}
.badgeTravaux{
	background-image: url("img/badge.jpg");
}

.lien{
    transform: translateY(100%);
    transition : 1s;
    opacity: 0%;
	position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
	padding: 10px 30px;
	color: var(--light);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
    font-weight: bold;
	overflow: hidden;
}
.lien:nth-child(1){
	filter: hue-rotate(115deg);
}
.lien:nth-child(3){
	filter: hue-rotate(270deg);
}
.lien:hover{
	transition-delay: 0.5s;
	background: var(--light);
	color: var(--blue);
	box-shadow: 0 0 50px var(--light);
}
.lien:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid var(--light);
	border-left: 2px solid var(--light);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.lien:hover:before{
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}
.lien:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid var(--light);
	border-right: 2px solid var(--light);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.lien:hover:after{
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}



.paysage1{
    background-image: url("img/paysage1.jpg");
}
.paysage2{
    background-image: url("img/paysage2.jpg");
}
.paysage3{
    background-image: url("img/paysage3.jpg");
}
.paysage4{
    background-image: url("img/paysage4.jpg");
}
.paysage5{
    background-image: url("img/paysage5.jpg");
}